.home--page {
  position: absolute;
  right: 20px;
  top: 20px;
}
.btn {
  background-color: white;
  color: black;
  padding: 15px 15px;
  border-radius: 25px;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 20px;
}
.header {
  text-align: center;
  color: white;
  font-size: 52px;
}
.news {
  width: 320px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 30px;
  margin-left: 40px;
  box-shadow: 25px 25px 25px rgba(2, 27, 15, 0.5);
}

.news--card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.read--btn {
  text-align: center;
  font-size: 28px;
  border: 2px solid green;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.content {
  font-size: 18px;
  text-align: justify;
  overflow-x: auto;
}
/* Tabs responsiveness */
@media screen and (max-width: 1260px) {
  .news--card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .news {
    background-color: antiquewhite;
  }
  .news {
    font-size: 14px;
  }
  .content {
    font-size: 16px;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .header {
    font-size: 32px;
  }
  .read--btn {
    font-size: 20px;
  }
}
/* small devices */
@media screen and (max-width: 480px) {
  .news--card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .news {
    background-color: white;
    border: 1px solid gray;
  }
  .news {
    font-size: 14px;
  }
  .content {
    font-size: 16px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .header {
    font-size: 25px;
  }
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: block;
  position: absolute;
  margin: 0% auto;
  height: 150px;
  width: 150px;
  border: 10px solid #dbcbcb;
  border-right: 10px solid rgb(133, 133, 143);
  border-radius: 50%;
  animation: rotate 0.79s infinite;
}
.loading {
  color: white;
  font-size: 22px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
