html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-image: url("./assets/cbs-evening-news-3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
